th, td      { vertical-align: center; text-align: right; font-size:large;}     
#converted  { color: red; font-weight: bold; font-size:large;}    
input       { text-align: right;  border: none; font-size:large;}    
input:focus { text-align: right;  border: solid 1px; border-color:blue; font-size:large;}  
body
{
 color:#749FF6;
 text-align:center;
 background-color: #F2C167;
 font-size:large;
}
body table	{margin: 0 auto; text-align:left; border:2px solid #345CAD;}
